html {
	font-size: $font-size-rem;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	font-size: $font-size-mobile-default;
	line-height: $line-height-default;
	background-color: $color-body-bg;
	color: $color-body-txt;

	@include mq($BREAKPOINT-LG) {
		font-size: $font-size-desktop-default;
	}

	&.\--freeze {
		height: 100%;
		overflow: hidden !important;

		html.ios & {
			position: fixed;
			width: 100%;
		}
	}
}

.\--add-fixed-border {
	html[class*='--scroll-'] & {
		border-right: 0 solid $color-white-1;
		border-right-style: solid;
		border-right-color: $color-white-1;
	}

	@for $i from 13 through 18 {
		html.\--scroll-#{$i} & {
			border-right-width: $i * 1px;
		}
	}
}

img {
	display: block;
	max-width: 100%;

	&:not([src]),
	&[src=''] {
		display: none;
	}
}
