.component-header {
	&__wrapper {
		display: flex;
		justify-content: space-between;

		padding: 0 20px;
		background: antiquewhite;
	}

	&__logo {
		display: flex;
		align-items: center;
	}

	&__nav {
		display: flex;
		li {
			text-transform: uppercase;
			padding-right: 10px;
		}
	}
}
